<div class="rounded-md bg-gray-100 m-5 p-4 max-w-7xl mx-auto">
    <iframe
      height="800"
      src="https://www.youtube.com/embed/{{id}}" [title]="title"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
    >
    </iframe>
  <div class="flex">
    <button class="bg-red-500 text-white px-4 py-2 rounded shadow-lg hover:bg-red-600 ml-auto" (click)="remove(id)">Retirer</button>
  </div>
</div>
