@if (isLoggedIn) {
  <div class="container max-w-4xl mx-auto mt-10">
    <div class=" flex w-full md:justify-start justify-center items-end">
      <div class="relative mr-4 md:w-full lg:w-full  w-full">
        <input [(ngModel)]="searchQuery" type="text" id="hero-field" name="hero-field" class="w-full bg-gray-100 rounded border bg-opacity-50 border-gray-300 focus:ring-2 focus:ring-red-200 focus:bg-transparent focus:border-red-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <button class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-lg" (click)="search()">Rechercher</button>
    </div>
  </div>
  <div id="videos" class="w-7xl mx-auto mt-10 grid grid-cols-1 md:grid-cols-3 gap-2">
    @for (video of videos; track video.id) {
      <div class="rounded-md bg-gray-100 m-5 p-4">
        <a
          href="https://www.youtube.com/watch?v={{ video.id }}"
          target="_blank"
          rel="noopener noreferrer"
          class="video-item"
        >
          <img
            class="w-full rounded-md shadow-lg"
            src="https://i.ytimg.com/vi/{{ video.id }}/mqdefault.jpg"
            alt="{{ video.title }}"
            width="480"
            height="360"
          />
        </a>
        <h3 class="mx-1 font-semibold text-md mt-2">
          {{ video.title.length > 50 ? (video.title | slice:0:50) + '...' : video.title }}
        </h3>
        <div class="flex">
          <button class="bg-red-500 text-white px-4 py-2 rounded shadow-lg hover:bg-red-600 ml-auto" (click)="add(video)">Ajouter</button>
        </div>
      </div>
    } @empty {
      <p>No videos found.</p>
    }
  </div>
}
